{{> navbar}}
<div class="container mt-2 mb-4">
  <h2 class="mb-2">Cart List</h2>

  <div class="mb-2">
    <label for="basic-url" class="form-label">Cart id</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon3">ID</span>
      <input
        type="text"
        class="form-control"
        id="cart"
        aria-describedby="basic-addon3 basic-addon4"
        value="{{cart._id}}"
        readonly
      />
    </div>
  </div>

  <table class="table table-striped border">
    <thead>
      <tr>
        <th class="bg-dark text-light text-center align-middle">Title</th>
        <th class="bg-dark text-light text-center align-middle">Product Code</th>
        <th class="bg-dark text-light text-center align-middle">Description</th>
        <th class="bg-dark text-light text-center align-middle">Category</th>
        <th class="bg-dark text-light text-center align-middle">Price</th>
        <th class="bg-dark text-light text-center align-middle">Quantity</th>
        <th class="bg-dark text-light text-center align-middle"></th>
      </tr>
    </thead>
    <tbody>
      {{#each cart.products}}
        <tr class="text-center align-middle">
          <td>{{this.id.title}}</td>
          <td>{{this.id.code}}</td>
          <td>{{this.id.description}}</td>
          <td>{{this.id.category}}</td>
          <td>{{this.id.price}}</td>
          <td>{{this.quantity}}</td>
          <td>
            <button
              class="delete-to-cart btn btn-secondary"
              data-product-id="{{this.id._id}}"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <h5>Total: ${{calculateTotal cart.products}}</h5>
  </div>

  <div class="d-flex justify-content-end">
      <button
      class="cart-purchase btn btn-warning"
      data-cart-id="{{cart._id}}"
    >Buy
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg>
    </button>
  </div>

</div>

<script>
    window.userCartId = "{{cart._id}}";
</script>
<script src="/js/cartActions.js"></script>