{{>navbar}}
<div class="container mt-5">
  <h2 class="mb-2">config</h2>
  <table class="table table-striped border">
    <thead>
      <tr>
        <th class="bg-dark text-light text-center align-middle">Name</th>
        <th class="bg-dark text-light text-center align-middle">Last Name</th>
        <th class="bg-dark text-light text-center align-middle">Email</th>
        <th class="bg-dark text-light text-center align-middle">Age</th>
        <th class="bg-dark text-light text-center align-middle">Role</th>
        <th class="bg-dark text-light text-center align-middle">Delete</th>
        <th class="bg-dark text-light text-center align-middle">Premium</th>
      </tr>
    </thead>
    <tbody>
      {{#each user}}

        <tr class="text-center align-middle" key={{this._id}}>
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.age}}</td>
          <td>{{this.role}}</td>

            <td class="delete_user" data-id="{{this._id}}">
                <p><a href="#" class="pe-auto link-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash cursor-pointer" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </p>
            </td>

            <td class="premium_user" data-id="{{this._id}}">
                <p><a href="#" class="pe-auto link-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-up cursor-pointer" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                     </svg>
                </p>
            </td>

        </tr>

      {{/each}}
    </tbody>
  </table>
</div>

<script src="/js/adminConfig.js"></script>