{{>navbar}}
<div class="container">
  <h2 class="mb-2">Products</h2>
  <div class="row">
    {{#each products}}
      <div class="col-lg-3 col-md-6 col-12 pt-4" key={{this._id}}>
        <div class="card h-100" style="width: 17rem;">
          <div class="image-container">
            <img src={{this.thumbnails}} class="card-img-top" alt={{this.title}} />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">{{this.description}}</p>
            <h5 class="card-title">Price: {{this.price}}</h5>
          </div>
          <div class="d-flex justify-content-between px-2">
            <p>Stock: {{this.stock}}</p>
            <p>Code Product: {{this.code}}</p>
          </div>
          <div class="d-grid gap-2">
            <button
              class="add-to-cart btn btn-warning"
              data-product-id="{{this.id}}"
            >
              Add to cart
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-cart-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="mt-3">
    <a href="/products?page=1" class="btn btn-secondary">Page 1</a>
    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}" class="btn btn-warning">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-arrow-left-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l-3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"
          />
        </svg>
        Previous</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}" class="btn btn-warning">
        Next
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-arrow-right-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l-3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
          />
        </svg>
      </a>
    {{/if}}
  </div>
</div>

<script>
    window.userCartId = "{{user.cart}}";
</script>
<script src="/js/buyProduct.js"></script>